ENV="local"


# APP PARAMS CONFIG
APP_TIMEZONE='America/Chicago'

# How to pick timezone - https://www.php.net/manual/en/timezones.america.php



# DATABASE CONFIGS
DB_DATABASE="sqlite"
DB_FILEPATH="temp.db"
DB_HOSTNAME=null
DB_PASSWORD=null


# APP LOGGER DEFINITIONS
LOGGER_CONSOLE="false"
LOGGER_DIRECTORY="./logs"
LOGGER_LEVEL="DEBUG"
LOGGER_LINENUMBERS="true"
LOGGER_TIMESTAMP="[Y-m-d H:m:s]"
