# <Directory /var/www/>
#     Options Indexes FollowSymLinks MultiViews
#     AllowOverride None
#     Order allow,deny
#     allow from all
# </Directory>


<IfModule mod_rewrite.c>
    RewriteEngine On
    # # RewriteBase /
    # RewriteCond %{REQUEST_FILENAME} !-f
    # RewriteCond %{REQUEST_FILENAME} !-d
    # # RewriteRule . /index.php [L]
    # RewriteRule ^(.*)$ /app/public/index.php [QSA,L]
    # RewriteEngine on
    RewriteRule ^$ public/ [L]
    RewriteRule (.*) public/$1 [L]
</IfModule>
